body {
  font-family: 'Lato', sans-serif;
  font-size: 14px;
}
a {
  color: $dusk-blue;
  text-decoration: underline;
  &.bold {
    font-weight: 600;
  }
  &.warm-grey {
    color: $warm-grey;
  }
  &:hover {
    color: #000;
  }
}
