.btn {
  height: 45px;
  border-radius: 3px;
  box-shadow: 0 0.5px 1px 0 rgba(0, 0, 0, 0.3);
  font-weight: 600;
  text-shadow: 0 0.5px 0.5px rgba(0, 0, 0, 0.2);
  &.btn-primary {
    background-color: $softBlue;
    border-color: #53a4e4;
    &:hover {
      background-color: #3178af;
    }
  }
}
