.form-group {
  margin-bottom: 10px;
  &.form-group-lg {
    margin-bottom: 32px;
  }
}
.form-control {
  height: 45px;
  padding: 13px 20px;
  border-radius: 3px;
  border: solid 1px #ececec;
  font-size: 16px;
  color: #4a4a4a;
  &:focus {
    border-color: #6aafe6;
  }
}
.has-danger {
  .form-control {
    border-color: #b10016;
  }
}

.input-with-icon {
  position: relative;
  .form-control {
    padding-right: 2.75rem;
  }
  img {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0.6625rem;
    margin: auto;
    width: 28px;
    height: 16px;
    cursor: pointer;
  }
  &.password {
    img {
      opacity: 0.5;
    }
  }
}

.form-control::-webkit-input-placeholder {color: #dddde0;}
.form-control::-moz-placeholder          {color: #dddde0;}/* Firefox 19+ */
.form-control:-moz-placeholder           {color: #dddde0;}/* Firefox 18- */
.form-control:-ms-input-placeholder      {color: #dddde0;}
