.no-protected {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  background-color: $pale-grey;
}
.auth {
  max-width: 392px;
  .toggle-sign-view {
    margin-bottom: 169px;
  }
}
