h2 {
  margin: 0 0 17px;
  font-size: 32px;
  color: $greyish-brown;
}
.lead {
  font-size: 14px;
  color: $warm-grey; 
  &.link {
    &:hover {
      a, span {
        color: #000;
      }
    }
  } 
}
